@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&display=swap');
header{
    background-color: #0833a2;
}


.nosotros, .servicios
{
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    line-height: 2em;
}

.carousel-caption{
    font-size: 2em;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc7bf26);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #2c3e50, #bdc7bf26);

    position: absolute; 
    right: 15%;
    top: 125px; 
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;

    bottom: auto;
}
.carousel-caption h5{
    font-size: 3em;
    
}

.titulo-index{
    font-family: "Lora", serif;
    
}

.titulo-quienesSomos{
    font-family: "Lora", serif;
}



.titulo-galeria {
    font-family: "Lora", serif;
}

.text-center.my-5 {
    text-align: left;
    font-weight: bold;
    background: #0833a2; 
-webkit-background-clip: text; 
-moz-background-clip: text; 
background-clip: text; 
color: transparent; 
text-shadow: 0px 3px 3px rgba(30, 92, 173, 0.4),0px -1px 1px rgba(0,0,0,0.3);
}

/* CSS titulo secciones letras*/

.nav-item .nav-link{
    font-family: "Lora", serif;
    color: #fff;
    
}



/* FIN CSS titulo secciones letras*/



/* CSS FOOTER*/
.footer {
    background-color: #0833a2;
    color: #fff;
    padding: 20px 20px; /* Ajusta el padding según lo que necesites */
    display: flex;
    align-items: center;
    height: 100px; /* Ajusta la altura según lo que necesites */
    height: 200px;
    margin-top: 100px;
}


.footer-content {
    display: flex;
    align-items: center;
    width: 200%;
    justify-content: space-between;
}

.footer-logo img {
    width: 110px; /* Ajusta el tamaño de tu logo según sea necesario */
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
    margin-right: 20px;
    text-align: center;
    margin-left: -11px;
}
.footer-copyright {
    font-size: 0.8em;
}
/* FIN CSS FOOTER*/


/* CSS TARJETAS DE INFORMACION*/

.info-imagen h2 {
    /* Estilos regulares del título de las tarjetas */
    color: #0833a2;
    font-size: 2.5rem;
    font-weight: 650;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    /* Agrega una sombra al texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    /* Añade una transición suave */
    transition: color 0.3s ease;
}

.info-imagen h2:hover {
    /* Cambia el color del texto en el hover */
    color: #3f6b94; /* Color amarillo para el hover */
}

/* CSS TARJETAS DE INFORMACION */
.info-section-nuevo {
    padding: 50px 0;
    background-color: #f8f8f8; /* Cambia el color de fondo  */
    margin-top: 200px;
}

.info-imagen img {
    
    border-radius: 10px;
    margin-left: 300px;
    transition: transform 0.3s ease;
}


@media (max-width: 767px) {
    .info-imagen img {
        margin-left: 100px;
        margin-top: 30px;
        width: 60%;
    }
}

.info-imagen p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 410;
}
/* TITULO NEGRO SPIRITUALS */
.titulo {
    text-align: center;
    font-size: 36px;
    color: #0833a2; /* Color del texto */
    margin-bottom: 20px; /* Espacio inferior */
    font-family: "Lora", serif;
}

.subtitulo {
    text-align: center;
    font-size: 24px;
    color: #555; /* Color del texto */
}

/* FIN TITULO NEGRO SPIRITUALS */

.texto-destacado {
    color: #0833a2;
    font-size: 25px;
  }

/* Formulario de descarga negro spirituals */

.formulario-descarga {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: center;
}

.etiqueta-formulario {
    display: block;
    margin-top: 15px;
    font-size: 18px;
    color: #333;
}


.campo-formulario {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.boton-descarga {
    background-color: #007bff;
    color: #fff;
    padding: 18px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: background-color 0.3s;
    display: inline-block; /* Cambiado a en línea para que no sea un bloque completo */
}

.formulario-descarga h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #0a4677;
    font-weight: bold;
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
}


/* Formulario de descarga negro spirituals */


/* LOGIN PHP */

.wrapper {
    max-width: 350px;
    min-height: 500px;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #ecf0f3;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.logo-admin {
    width: 80px;
    margin: auto;
    padding-top: 15%;
}

.logo-admin img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #5f5f5f,
        0px 0px 0px 5px #ecf0f3,
        8px 8px 15px #a7aaa7,
        -8px -8px 15px #fff;
}

.wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #555;
}

.wrapper .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px;
}

.wrapper .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

wrapper .form-field .fas {
    color: #555;
}

.wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #03A9F4;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1,
        -3px -3px 3px #fff;
    letter-spacing: 1.3px;
}

.wrapper .btn:hover {
    background-color: #039BE5;
}

.wrapper a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #03A9F4;
}

.wrapper a:hover {
    color: #039BE5;
}

.mensaje-errorAdmin {
    color: red;
    font-weight: bold;
    font-size: 13px;
}

/* fin LOGIN PHP */


/* DISEÑO PANEL ADMIN*/


.body-panelAdmin {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #495057;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Cambia a una disposición de columna en lugar de fila */
}

/* Contenedor principal */

.container-panel {
    display: flex;
    width: 100%;
    height: 100vh;
}



/* Estilos para el contenido principal */

.main-content {
    flex: 1;
    overflow-y: auto; /* Hace que el contenido sea desplazable si es necesario */
    padding: 20px;
}

/* Estilos adicionales para las secciones */

.seccion-panel {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

/* Lista de solicitudes */
.lista-solicitudes {
    list-style-type: none;
    padding: 0;
}

.solicitud-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boton-procesar {
    background-color: #009688;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton-procesar:hover {
    background-color: #00796b; /* Cambia el color al pasar el mouse */
}

/* Lista de partituras */
.lista-partitura {
    list-style-type: none;
    padding: 0;
}

.partitura-item {
    margin-bottom: 10px;
}

.checkbox-label {
    display: block;
    margin-bottom: 5px;
}

.enviar-partitura-btn {
    background-color: #009688;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.enviar-partitura-btn:hover {
    background-color: #00796b; /* Cambia el color al pasar el mouse */
}

/* Lista de notificaciones */
.notificaciones-list {
    list-style-type: none;
    padding: 0;
}

.notificaciones-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

/* Botón de cerrar sesión */
.cerrar-sesion-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.cerrar-sesion-btn:hover {
    background-color: #1a1a1a; /* Cambia el color al pasar el mouse */
}

/* Otros estilos que tenías */
.body-panelAdmin h2 {
    color: #009688;
    text-align: center;
    margin-top: 20px;
}

/* FIN DISEÑO PANEL ADMIN*/




/* EXITO PHP*/

body.exito-php {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.msg-exito {
    text-align: center;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
}
.msg-exito h1 {
    color: #007BFF;
}

.msg-exito p {
    color: #555;
    font-size: 16px;
    line-height: 1.5;
}

/* Estilos del botón de regreso */
.boton-regresar-exito {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.boton-regresar-exito:hover {
    background-color: #0056b3;
}

/*  FIN EXITO PHP*/


/*Galeria de imagenes*/
.container-grid{
    display: grid;
    height: 300vh;
    margin: 70px 150px;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(12,1fr);
    grid-template-areas: 
    "img2 img2 img3 img3 img3 img3"
    "img2 img2 img3 img3 img3 img3"
    "img4 img4 img3 img3 img3 img3"
    "img4 img4 img3 img3 img3 img3"
    "img7 img7 img8 img8 img1 img1"
    "img7 img7 img8 img8 img1 img1"
    "img7 img7 img5 img5 img6 img6"
    "img7 img7 img5 img5 img6 img6"
    "img9 img9 img9 img11 img11 img11"
    "img9 img9 img9 img11 img11 img11"
    "img10 img10 img10 img12 img12 img12"
    "img10 img10 img10 img12 img12 img12";
    gap: 18px;
    z-index: 5;
}
.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 7px;
    transition: transform 0.5s ease; /* Transición suave */
}

.img:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.8);/*sobra*/
    cursor: pointer;
}
.img-1{
    grid-area: img1;
}

.img-2{
    grid-area: img2;
}

.img-3{
    grid-area: img3;
}

.img-4{
    grid-area: img4;
}

.img-5{
    grid-area: img5;
}

.img-6{
    grid-area: img6;
}
.img-7{
    grid-area: img7;
}
.img-8{
    grid-area: img8;
}
.img-9{
    grid-area: img9;
}
.img-10{
    grid-area: img10;
}
.img-11{
    grid-area: img11;
}
.img-12{
    grid-area: img12;
}



@media (max-width:1501px){
    .container-grid{
        display: grid;
        height: 280vh;
        margin: 70px 100px;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(12,1fr);
        grid-template-areas: 
        "img2 img2 img3 img3 img3 img3"
        "img2 img2 img3 img3 img3 img3"
        "img4 img4 img3 img3 img3 img3"
        "img4 img4 img8 img8 img1 img1"
        "img7 img7 img8 img8 img1 img1"
        "img7 img7 img8 img8 img1 img1"
        "img7 img7 img5 img5 img6 img6"
        "img7 img7 img5 img5 img6 img6"
        "img9 img9 img9 img11 img11 img11"
        "img9 img9 img9 img11 img11 img11"
        "img10 img10 img10 img12 img12 img12"
        "img10 img10 img10 img12 img12 img12";
        gap: 18px;
        z-index: 5;
    }
}
@media (max-width:901px){
    .container-grid{
        display: grid;
        height: 680rem;
        margin: 70px 10px;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(12,1fr);
        grid-template-areas: 
        "img2 img2 img2 img2"
        "img3 img3 img3 img3"
        "img4 img4 img4 img4"
        "img5 img5 img5 img5"
        "img6 img6 img6 img6"
        "img1 img1 img1 img1"
        "img7 img7 img7 img7"
        "img8 img8 img8 img8"
        "img9 img9 img9 img9"
        "img10 img10 img10 img10"
        "img11 img11 img11 img11"
        "img12 img12 img12 img12";
        gap: 18px;
        z-index: 5;
    }
}
@media (max-width:701px){
    .container-grid{
        height: 550rem;
    }
}
@media (max-width:601px){
    .container-grid{
        height: 450rem;
    }
}
@media (max-width:501px){
    .container-grid{
        height: 380rem;
    }
}
@media (max-width:401px){
    .container-grid{
        height: 300rem;
    }
}

.imagen-ampliada {
    display: none;
    align-content: center;
    justify-content: center;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
}

.imagen-ampliada-content {
    margin:auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

.cerrar {
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.cerrar:hover,
.cerrar:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/*Fin de la galeria*/


/* css CONTACTO*/

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    color: #333;
    font-size: 24px;
}



/* FIN CSS CONTACTO*/

/* css HOMEEE AJUSTES*/

/* css FIN HOMEEE AJUSTES*/



/* css PROXIMAMENTE*/
.music-notes {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.note {
    font-size: 2rem;
    margin: 0 10px;
    opacity: 0;
    animation: float 3s infinite;
}

.note:nth-child(1) {
    animation-delay: 0s;
}

.note:nth-child(2) {
    animation-delay: 0.5s;
}

.note:nth-child(3) {
    animation-delay: 1s;
}

.note:nth-child(4) {
    animation-delay: 1.5s;
}

@keyframes float {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    50% {
        opacity: 1;
        transform: translateY(-20px);
    }
    100% {
        opacity: 0;
        transform: translateY(0);
    }
}
/* css FIN PROXIMAMENTE*/


